*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#calcCont{
    width: 374px;
    height: 564px;
    border: 1px solid grey;

    margin: 50px;
}

#calcInput{
    width: 350px;
    height: 80px;
    color: black;
    background: rgb(238, 238, 238);
    margin: 10px auto 0;
    overflow-y: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2rem;
    padding: 0 .5rem;
}

#btnsBlock{
    width: 100%;
    height: 474px;
    padding-top: 20px;
    padding-left: 10px;

    position: relative;
}

#numbersBlock{
    width: 340px;
    height: 340px;

    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

#numbersBlock span:last-child{
    background: rgb(248, 211, 130);
}



#btnsBlock span{
    width: 80px;
    height: 80px;
    background: rgb(211, 211, 211);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 1px solid transparent;

    transition: background 0.2s ease-in-out,opacity 0.2s ease-in-out;
}

#btnsBlock span:hover{
    cursor: pointer;
}

#btnsBlock .brackets{
    width: 35px;
    background: rgb(248, 211, 130);
}


#doBlock{
    width: 100%;
    display: flex;
    column-gap: 10px;
    margin-bottom: 10px;
}

#doBlock span{
    width: 80px;
    height: 80px;

    background: rgb(248, 211, 130);
}

#cBlock{
    position: absolute;
     right: 2px;bottom: 4px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
    height: 360px;
    width: 90px;
    
}
#cBlock span{
    width: 80px;
    height: 80px;
}



#cBlock span:last-child{
    height: 170px;
    background: rgb(236, 151, 39);
    font-size: 3rem;
    font-weight: bold;
}

#cBlock span:nth-child(2){
    background: rgb(104, 130, 245);
    
    font-weight: bold;
}

#cBlock span:first-child{
    background: rgb(247, 168, 132);
    background-image: url("../icons/baclspace.png");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}